<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >


    <test name="RegressionTrello">
        <classes>
            <class name="com.telran.trololo.TeamCreationTests"/>
            <class name="com.telran.trololo.TeamDeletionTests"/>
            <class name="com.telran.trololo.BoardCreationTestKirill"/>
            <class name="com.telran.trololo.BoardDeletionTest"/>

        </classes>
    </test>
</suite>
